In [1]:
import pandas as pd
import numpy as np

In [2]:
best_picture = pd.read_csv("Resources/best_picture.csv")
best_picture

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1929,1930,3,OUTSTANDING PRODUCTION,Universal,All Quiet on the Western Front,True
1,1929,1930,3,OUTSTANDING PRODUCTION,Cosmopolitan,The Big House,False
2,1929,1930,3,OUTSTANDING PRODUCTION,Warner Bros.,Disraeli,False
3,1929,1930,3,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,The Divorcee,False
4,1929,1930,3,OUTSTANDING PRODUCTION,Paramount Famous Lasky,The Love Parade,False
...,...,...,...,...,...,...,...
578,2022,2023,95,BEST PICTURE,"Kristie Macosko Krieger, Steven Spielberg and ...",The Fabelmans,False
579,2022,2023,95,BEST PICTURE,"Todd Field, Alexandra Milchan and Scott Lamber...",Tár,False
580,2022,2023,95,BEST PICTURE,"Tom Cruise, Christopher McQuarrie, David Ellis...",Top Gun: Maverick,False
581,2022,2023,95,BEST PICTURE,"Erik Hemmendorff and Philippe Bober, Producers",Triangle of Sadness,False
582,2022,2023,95,BEST PICTURE,"Dede Gardner, Jeremy Kleiner and Frances McDor...",Women Talking,False

In [3]:
best_picture["Title/Year"] = best_picture['film'].astype(str) +"-"+ best_picture["year_film"].astype(str)

In [4]:
best_picture.head()

,year_film,year_ceremony,ceremony,category,name,film,winner,Title/Year
0,1929,1930,3,OUTSTANDING PRODUCTION,Universal,All Quiet on the Western Front,True,All Quiet on the Western Front-1929
1,1929,1930,3,OUTSTANDING PRODUCTION,Cosmopolitan,The Big House,False,The Big House-1929
2,1929,1930,3,OUTSTANDING PRODUCTION,Warner Bros.,Disraeli,False,Disraeli-1929
3,1929,1930,3,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,The Divorcee,False,The Divorcee-1929
4,1929,1930,3,OUTSTANDING PRODUCTION,Paramount Famous Lasky,The Love Parade,False,The Love Parade-1929

In [5]:
omdb_data_df = pd.read_csv("Resources/omdb_data.csv")
omdb_data_df

,Response,Error,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,totalSeasons
0,True,NaN,Disraeli,1929,Passed,01 Nov 1929,90 min,"Biography, Drama, History",Alfred E. Green,"Julien Josephson, De Leon Anthony, Louis N. Pa...",...,NaN,6.1,"1,338",tt0019823,movie,29 Apr 2008,NaN,A & E,NaN,NaN
1,True,NaN,The Love Parade,1929,Passed,18 Jan 1930,107 min,"Comedy, Musical, Romance",Ernst Lubitsch,"Ernest Vajda, Guy Bolton, Leon Xanrof",...,NaN,7.0,"2,500",tt0020112,movie,NaN,NaN,NaN,NaN,NaN
2,True,NaN,Arrowsmith,1931,Approved,26 Dec 1931,108 min,Drama,John Ford,"Sinclair Lewis, Sidney Howard",...,NaN,6.2,"1,862",tt0021622,movie,27 Mar 2020,NaN,NaN,NaN,NaN
3,True,NaN,Bad Girl,1931,Passed,13 Sep 1931,90 min,"Drama, Romance",Frank Borzage,"Viña Delmar, Brian Marlow, Edwin J. Burke",...,NaN,6.5,"1,504",tt0021635,movie,23 Mar 2017,NaN,NaN,NaN,NaN
4,True,NaN,The Champ,1931,Passed,21 Nov 1931,86 min,"Drama, Family, Sport",King Vidor,"Frances Marion, Wanda Tuchock, Don Marquis",...,NaN,7.3,"3,416",tt0021730,movie,21 Nov 2016,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,True,NaN,The Fabelmans,2022,PG-13,23 Nov 2022,151 min,Drama,Steven Spielberg,"Steven Spielberg, Tony Kushner",...,84.0,7.6,"98,933",tt14208870,movie,13 Dec 2022,"$17,348,945",NaN,NaN,NaN
538,True,NaN,Tár,2022,R,28 Oct 2022,158 min,"Drama, Music",Todd Field,Todd Field,...,92.0,7.4,"80,669",tt14444726,movie,NaN,"$6,773,650",NaN,NaN,NaN
539,True,NaN,Top Gun: Maverick,2022,PG-13,27 May 2022,130 min,"Action, Drama",Joseph Kosinski,"Jim Cash, Jack Epps Jr., Peter Craig",...,78.0,8.3,"627,105",tt1745960,movie,22 Aug 2022,"$718,732,821",NaN,NaN,NaN
540,True,NaN,Triangle of Sadness,2022,R,18 Sep 2022,147 min,"Comedy, Drama",Ruben Östlund,Ruben Östlund,...,63.0,7.3,"150,623",tt7322224,movie,22 Nov 2022,"$4,608,096",NaN,NaN,NaN
541,True,NaN,Women Talking,2022,PG-13,20 Jan 2023,104 min,Drama,Sarah Polley,"Sarah Polley, Miriam Toews",...,79.0,6.9,"33,492",tt13669038,movie,NaN,"$5,456,531",NaN,NaN,NaN

In [6]:
omdb_data_df["Title/Year"] = omdb_data_df['Title'].astype(str) +"-"+ omdb_data_df["Year"]

In [7]:
omdb_data_df

,Response,Error,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,...,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,totalSeasons,Title/Year
0,True,NaN,Disraeli,1929,Passed,01 Nov 1929,90 min,"Biography, Drama, History",Alfred E. Green,"Julien Josephson, De Leon Anthony, Louis N. Pa...",...,6.1,"1,338",tt0019823,movie,29 Apr 2008,NaN,A & E,NaN,NaN,Disraeli-1929
1,True,NaN,The Love Parade,1929,Passed,18 Jan 1930,107 min,"Comedy, Musical, Romance",Ernst Lubitsch,"Ernest Vajda, Guy Bolton, Leon Xanrof",...,7.0,"2,500",tt0020112,movie,NaN,NaN,NaN,NaN,NaN,The Love Parade-1929
2,True,NaN,Arrowsmith,1931,Approved,26 Dec 1931,108 min,Drama,John Ford,"Sinclair Lewis, Sidney Howard",...,6.2,"1,862",tt0021622,movie,27 Mar 2020,NaN,NaN,NaN,NaN,Arrowsmith-1931
3,True,NaN,Bad Girl,1931,Passed,13 Sep 1931,90 min,"Drama, Romance",Frank Borzage,"Viña Delmar, Brian Marlow, Edwin J. Burke",...,6.5,"1,504",tt0021635,movie,23 Mar 2017,NaN,NaN,NaN,NaN,Bad Girl-1931
4,True,NaN,The Champ,1931,Passed,21 Nov 1931,86 min,"Drama, Family, Sport",King Vidor,"Frances Marion, Wanda Tuchock, Don Marquis",...,7.3,"3,416",tt0021730,movie,21 Nov 2016,NaN,NaN,NaN,NaN,The Champ-1931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,True,NaN,The Fabelmans,2022,PG-13,23 Nov 2022,151 min,Drama,Steven Spielberg,"Steven Spielberg, Tony Kushner",...,7.6,"98,933",tt14208870,movie,13 Dec 2022,"$17,348,945",NaN,NaN,NaN,The Fabelmans-2022
538,True,NaN,Tár,2022,R,28 Oct 2022,158 min,"Drama, Music",Todd Field,Todd Field,...,7.4,"80,669",tt14444726,movie,NaN,"$6,773,650",NaN,NaN,NaN,Tár-2022
539,True,NaN,Top Gun: Maverick,2022,PG-13,27 May 2022,130 min,"Action, Drama",Joseph Kosinski,"Jim Cash, Jack Epps Jr., Peter Craig",...,8.3,"627,105",tt1745960,movie,22 Aug 2022,"$718,732,821",NaN,NaN,NaN,Top Gun: Maverick-2022
540,True,NaN,Triangle of Sadness,2022,R,18 Sep 2022,147 min,"Comedy, Drama",Ruben Östlund,Ruben Östlund,...,7.3,"150,623",tt7322224,movie,22 Nov 2022,"$4,608,096",NaN,NaN,NaN,Triangle of Sadness-2022
541,True,NaN,Women Talking,2022,PG-13,20 Jan 2023,104 min,Drama,Sarah Polley,"Sarah Polley, Miriam Toews",...,6.9,"33,492",tt13669038,movie,NaN,"$5,456,531",NaN,NaN,NaN,Women Talking-2022

In [8]:
final_df = pd.merge(best_picture, omdb_data_df, on="Title/Year", how="inner")
final_df

,year_film,year_ceremony,ceremony,category,name,film,winner,Title/Year,Response,Error,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,totalSeasons
0,1929,1930,3,OUTSTANDING PRODUCTION,Warner Bros.,Disraeli,False,Disraeli-1929,True,NaN,...,NaN,6.1,"1,338",tt0019823,movie,29 Apr 2008,NaN,A & E,NaN,NaN
1,1929,1930,3,OUTSTANDING PRODUCTION,Paramount Famous Lasky,The Love Parade,False,The Love Parade-1929,True,NaN,...,NaN,7.0,"2,500",tt0020112,movie,NaN,NaN,NaN,NaN,NaN
2,1931,1932,5,OUTSTANDING PRODUCTION,Samuel Goldwyn Productions,Arrowsmith,False,Arrowsmith-1931,True,NaN,...,NaN,6.2,"1,862",tt0021622,movie,27 Mar 2020,NaN,NaN,NaN,NaN
3,1931,1932,5,OUTSTANDING PRODUCTION,Fox,Bad Girl,False,Bad Girl-1931,True,NaN,...,NaN,6.5,"1,504",tt0021635,movie,23 Mar 2017,NaN,NaN,NaN,NaN
4,1931,1932,5,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,The Champ,False,The Champ-1931,True,NaN,...,NaN,7.3,"3,416",tt0021730,movie,21 Nov 2016,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,2022,2023,95,BEST PICTURE,"Kristie Macosko Krieger, Steven Spielberg and ...",The Fabelmans,False,The Fabelmans-2022,True,NaN,...,84.0,7.6,"98,933",tt14208870,movie,13 Dec 2022,"$17,348,945",NaN,NaN,NaN
523,2022,2023,95,BEST PICTURE,"Todd Field, Alexandra Milchan and Scott Lamber...",Tár,False,Tár-2022,True,NaN,...,92.0,7.4,"80,669",tt14444726,movie,NaN,"$6,773,650",NaN,NaN,NaN
524,2022,2023,95,BEST PICTURE,"Tom Cruise, Christopher McQuarrie, David Ellis...",Top Gun: Maverick,False,Top Gun: Maverick-2022,True,NaN,...,78.0,8.3,"627,105",tt1745960,movie,22 Aug 2022,"$718,732,821",NaN,NaN,NaN
525,2022,2023,95,BEST PICTURE,"Erik Hemmendorff and Philippe Bober, Producers",Triangle of Sadness,False,Triangle of Sadness-2022,True,NaN,...,63.0,7.3,"150,623",tt7322224,movie,22 Nov 2022,"$4,608,096",NaN,NaN,NaN
526,2022,2023,95,BEST PICTURE,"Dede Gardner, Jeremy Kleiner and Frances McDor...",Women Talking,False,Women Talking-2022,True,NaN,...,79.0,6.9,"33,492",tt13669038,movie,NaN,"$5,456,531",NaN,NaN,NaN

In [9]:
final_df.columns

Index(['year_film', 'year_ceremony', 'ceremony', 'category', 'name', 'film',
       'winner', 'Title/Year', 'Response', 'Error', 'Title', 'Year', 'Rated',
       'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot',
       'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore',
       'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice',
       'Production', 'Website', 'totalSeasons'],
      dtype='object')

In [10]:
final_df.drop(["ceremony","Type","Title","Title/Year", "Response", "Error", "Year", "Plot", "Poster", "Website", "totalSeasons", "DVD", "imdbID", "Ratings"], axis=1, inplace=True)

In [11]:
final_df.head()

,year_film,year_ceremony,category,name,film,winner,Rated,Released,Runtime,Genre,...,Writer,Actors,Language,Country,Awards,Metascore,imdbRating,imdbVotes,BoxOffice,Production
0,1929,1930,OUTSTANDING PRODUCTION,Warner Bros.,Disraeli,False,Passed,01 Nov 1929,90 min,"Biography, Drama, History",...,"Julien Josephson, De Leon Anthony, Louis N. Pa...","George Arliss, Doris Lloyd, David Torrence",English,United States,Won 1 Oscar. 4 wins & 2 nominations total,NaN,6.1,"1,338",NaN,A & E
1,1929,1930,OUTSTANDING PRODUCTION,Paramount Famous Lasky,The Love Parade,False,Passed,18 Jan 1930,107 min,"Comedy, Musical, Romance",...,"Ernest Vajda, Guy Bolton, Leon Xanrof","Maurice Chevalier, Jeanette MacDonald, Lupino ...","English, French",United States,Nominated for 6 Oscars. 1 win & 6 nominations ...,NaN,7.0,"2,500",NaN,NaN
2,1931,1932,OUTSTANDING PRODUCTION,Samuel Goldwyn Productions,Arrowsmith,False,Approved,26 Dec 1931,108 min,Drama,...,"Sinclair Lewis, Sidney Howard","Ronald Colman, Helen Hayes, Richard Bennett","English, Italian, Swedish",United States,Nominated for 4 Oscars. 4 nominations total,NaN,6.2,"1,862",NaN,NaN
3,1931,1932,OUTSTANDING PRODUCTION,Fox,Bad Girl,False,Passed,13 Sep 1931,90 min,"Drama, Romance",...,"Viña Delmar, Brian Marlow, Edwin J. Burke","James Dunn, Sally Eilers, Minna Gombell",English,United States,Won 2 Oscars. 2 wins & 1 nomination total,NaN,6.5,"1,504",NaN,NaN
4,1931,1932,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,The Champ,False,Passed,21 Nov 1931,86 min,"Drama, Family, Sport",...,"Frances Marion, Wanda Tuchock, Don Marquis","Wallace Beery, Jackie Cooper, Irene Rich",English,United States,Won 2 Oscars. 2 wins & 3 nominations total,NaN,7.3,"3,416",NaN,NaN

In [12]:
final_df.columns

Index(['year_film', 'year_ceremony', 'category', 'name', 'film', 'winner',
       'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors',
       'Language', 'Country', 'Awards', 'Metascore', 'imdbRating', 'imdbVotes',
       'BoxOffice', 'Production'],
      dtype='object')

In [13]:
final_df.dtypes

year_film          int64
year_ceremony      int64
category          object
name              object
film              object
winner              bool
Rated             object
Released          object
Runtime           object
Genre             object
Director          object
Writer            object
Actors            object
Language          object
Country           object
Awards            object
Metascore        float64
imdbRating       float64
imdbVotes         object
BoxOffice         object
Production        object
dtype: object

In [14]:
final_df["Runtime"].unique()

array(['90 min', '107 min', '108 min', '86 min', '89 min', '93 min',
       '80 min', '92 min', '98 min', '109 min', '100 min', '97 min',
       '87 min', '88 min', '111 min', '105 min', '84 min', '91 min',
       '115 min', '99 min', '101 min', '119 min', '130 min', '133 min',
       '132 min', '141 min', '176 min', '125 min', '117 min', '138 min',
       '116 min', '102 min', '106 min', '96 min', '110 min', '104 min',
       '126 min', '238 min', '114 min', '129 min', '120 min', '95 min',
       '112 min', '94 min', '118 min', '134 min', '127 min', '128 min',
       '170 min', '124 min', '75 min', '156 min', '177 min', '154 min',
       '140 min', '145 min', '135 min', '103 min', '122 min', '171 min',
       '152 min', '85 min', '123 min', '175 min', '137 min', '201 min',
       '220 min', '161 min', '157 min', '147 min', '143 min', '212 min',
       '180 min', '149 min', '162 min', '146 min', '158 min', '179 min',
       '153 min', '218 min', '178 min', '174 min', '192 min', '148 min',
       '139 min', '142 min', '197 min', '172 min', '182 min', '131 min',
       '151 min', '113 min', '136 min', '181 min', '183 min', '202 min',
       '165 min', '185 min', '160 min', '121 min', '195 min', '191 min',
       '193 min', '164 min', '163 min', '189 min', '194 min', '169 min',
       '155 min', '167 min', '150 min', '3 min', '166 min', '144 min',
       '209 min', '159 min'], dtype=object)

In [15]:
# Remove " min" from Runtime column so that we can change it to an integer
final_df["Runtime"]=final_df["Runtime"].str.replace(" min", "")
final_df["Runtime"]

0       90
1      107
2      108
3       90
4       86
      ...
522    151
523    158
524    130
525    147
526    104
Name: Runtime, Length: 527, dtype: object

In [16]:
final_df["imdbVotes"].unique()

array(['1,338', '2,500', '1,862', '1,504', '3,416', '2,387', '4,024',
       '6,525', '14,053', '1,490', '2,026', '4,432', '806', '8,322',
       '1,109', '1,261', '5,291', '108,847', '701', '31,643', '1,506',
       '102', '4,406', '1,940', '15,299', '4,537', '6,845', '3,143',
       '3,749', '24,181', '1,477', '4,253', '20,181', '1,948', '9,775',
       '8,712', '8,637', '22,650', '2,147', '5,927', '3,011', '1,475',
       '20,655', '10,526', '8,182', '5,248', '8,705', '14,021', '1,162',
       '8,819', '10,441', '53,259', '2,242', '6,105', '2,309', '2,125',
       '14,486', '9,247', '2,594', '27,021', '11,876', '326,245',
       '11,185', '6,071', '118,879', '22,105', '6,488', '51,897',
       '415,455', '19,112', '5,237', '22,740', '97,316', '231,652',
       '3,921', '14,035', '4,725', '2,814', '72,016', '142,676', '2,186',
       '455,610', '6,995', '2,688', '25,634', '12,663', '163,382',
       '1,431', '19,296', '40,764', '4,812', '25,975', '18,920', '692',
       '11,593', '8,101', '8,779', '2,131', '16,545', '9,908', '11,921',
       '2,332', '3,064', '7,153', '24,388', '7,390', '4,768', '162,919',
       '32,059', '12,703', '4,843', '1,657', '9,179', '8,822', '39,085',
       '27,682', '50,826', '68,028', '478,289', '6,486', '6,263',
       '19,457', '9,284', '17,293', '51,465', '17,867', '5,107', '37,412',
       '8,144', '15,978', '7,640', '16,620', '10,272', '15,359', '11,992',
       '12,185', '6,663', '229,694', '35,706', '23,846', '16,113',
       '112,193', '15,535', '107,858', '9,946', '6,080', '40,824',
       '49,404', '12,317', '11,172', '143,744', '42,939', '29,025',
       '6,416', '160,131', '26,378', '3,618', '5,229', '25,954', '17,838',
       '9,451', '4,404', '28,910', '7,500', '41,040', '27,326', '74,999',
       '227,891', '6,388', '7,274', '828,221', '131,681', '12,112',
       '52,134', '16,844', '23,909', '8,264', '68,981', '247,779',
       '13,331', '11,370', '16,881', '189,734', '12,337', '1,714',
       '4,630', '2,547', '53,808', '85,019', '81,533', '118,514',
       '304,859', '57,959', '17,241', '325,527', '5,785', '35,923',
       '12,824', '13,846', '15,461', '505,936', '180,492', '99,173',
       '23,596', '7,596', '80,171', '6,675', '248,778', '3,605', '15,348',
       '36,287', '15,879', '78,242', '117,523', '9,999', '283,177',
       '47,556', '80,781', '24,189', '32,947', '40,306', '3,832',
       '33,839', '7,927', '222,193', '16,327', '116,517', '30,383',
       '20,960', '39,393', '36,117', '75,388', '105,798', '858,249',
       '45,912', '129,975', '50,583', '5,306', '57,679', '115,756',
       '1,945,639', '4,638', '95,294', '429,422', '272,221', '3,423',
       '339,335', '117,380', '1,321,713', '17,051', '46,542', '175,953',
       '266,468', '638,045', '27,751', '121,797', '5,431', '165,082',
       '607,910', '882,525', '271,934', '15,578', '10,162', '4,983',
       '14,382', '350,603', '22,673', '85,374', '5,812', '33,867',
       '690,867', '24,847', '151,156', '12,372', '19,779', '250,504',
       '54,960', '367,987', '64,122', '33,719', '24,119', '237,270',
       '22,475', '111,728', '43,817', '39,931', '5,528', '63,904',
       '11,521', '63,566', '414,434', '57,764', '19,790', '12,817',
       '10,945', '91,643', '16,889', '84,022', '25,696', '101,245',
       '18,000', '74,071', '63,960', '428,012', '32,991', '93,065',
       '14,085', '108,336', '64,275', '16,928', '73,328', '105,962',
       '533,182', '60,324', '113,083', '520,992', '114,875', '124,247',
       '77,561', '152,336', '227,568', '469,489', '30,329', '164,671',
       '19,030', '1,490,803', '58,388', '278,245', '34,644', '316,553',
       '425,637', '308,020', '182,214', '92,581', '80,156', '1,404,593',
       '2,174,144', '160,450', '2,142,709', '71,928', '2,790,043',
       '306,630', '130,866', '1,066,757', '121,654', '196,017', '701,519',
       '279,276', '55,707', '310,069', '111,673', '1,020,596', '598,980',
       '1,245,127', '103,029', '1,446,765', '230,750', '195,024',
       '1,184,677', '102,907', '1,358,214', '176,061', '1,022,962',
       '197,452', '277,405', '211,266', '1,559,415', '215,465', '960,176',
       '91,497', '41,372', '1,941,454', '237,246', '458,094', '135,973',
       '1,726,947', '873,763', '1,913,042', '473,134', '231,106',
       '472,628', '75,611', '375,095', '209,657', '706,248', '153,599',
       '197,482', '371,620', '137,740', '34', '99,971', '233,673',
       '311,095', '1,376,994', '167,546', '502,090', '114,493', '291,511',
       '539,413', '170,672', '1,020,221', '614,803', '676,878', '110,762',
       '177,440', '253,576', '864,767', '1,359,455', '349,666', '701,531',
       '136,753', '1,520,799', '147,130', '1,086,647', '344,204',
       '798,124', '380,542', '2,462,841', '133,036', '696,401', '391,591',
       '735,077', '867,878', '350,184', '146,992', '245,985', '246,752',
       '104,061', '478,882', '330,774', '439,469', '448,123', '181,495',
       '162,578', '103,615', '629,307', '84,368', '1,631,030', '339,735',
       '651,547', '267,634', '728,355', '312,051', '493,019', '480,040',
       '506,013', '847,167', '646,262', '120,879', '102,433', '723,819',
       '1,502,670', '511,995', '650,050', '362,478', '853,060', '801,300',
       '93,809', '469,868', '929,833', '460,632', '321,608', '146,888',
       '1,046,268', '893,095', '841,575', '437,117', '488,010', '734,202',
       '113,681', '562,086', '242,120', '245,399', '632,416', '244,971',
       '299,595', '322,481', '295,718', '213,070', '710,090', '654,642',
       '313,061', '140,249', '157,648', '436,694', '813,981', '278,962',
       '565,839', '212,095', '533,546', '164,962', '405,034', '156,359',
       '434,909', '411,653', '419,961', '1,392,643', '227,042', '331,309',
       '640,046', '883,879', '176,363', '79,694', '90,400', '173,880',
       '194,318', '187,299', '82,686', '150,936', '570,209', '59,316',
       '710,207', '125,690', '131,741', '156,204', '186,650', '90,560',
       '220,096', '455,895', '223,653', '214,306', '473,119', '98,933',
       '80,669', '627,105', '150,623', '33,492'], dtype=object)

In [17]:
# Remove "," from imdbVotes column so that we can change it to an integer
final_df["imdbVotes"] = final_df["imdbVotes"].str.replace(",","")
final_df["imdbVotes"]

0        1338
1        2500
2        1862
3        1504
4        3416
        ...
522     98933
523     80669
524    627105
525    150623
526     33492
Name: imdbVotes, Length: 527, dtype: object

In [18]:
final_df["BoxOffice"].unique()

array([nan, '$3,607,900', '$2,180,000', '$200,882,193', '$144,738',
       '$24,668,669', '$624,643', '$404,524', '$1,627,530', '$18,180',
       '$16,361,885', '$11,800,000', '$21,333,333', '$23,650,000',
       '$1,483,643', '$10,000,000', '$8,838,592', '$299,645', '$267,824',
       '$36,000,000', '$10,550,000', '$36,416', '$21,750,000',
       '$21,200,000', '$4,200,000', '$42,000,000', '$32,855,818',
       '$21,300,000', '$65,500,000', '$27,200,000', '$25,600,000',
       '$26,300,000', '$7,400,000', '$11,900,000', '$74,432,704',
       '$18,600,000', '$9,996,178', '$44,055,492', '$45,306,425',
       '$592,237', '$57,777,778', '$149,327', '$9,440,272',
       '$102,272,727', '$72,560,711', '$111,721,910', '$159,287,539',
       '$5,232,000', '$28,000,000', '$104,945,305', '$56,666,667',
       '$52,223,306', '$18,177', '$2,068,232', '$102,308,889', '$400,881',
       '$44,785,053', '$83,305', '$100,489,151', '$106,550,690',
       '$81,600,000', '$61,749,765', '$26,617,553', '$10,404,330',
       '$51,700,000', '$29,133,000', '$136,381,073', '$3,100,601',
       '$115,000,000', '$233,005,644', '$156,000,000', '$18,312,000',
       '$29,200,000', '$4,671,805', '$47,834,595', '$8,427,866',
       '$116,000,000', '$50,000,000', '$265,859,065', '$9,984,123',
       '$70,600,000', '$23,689,877', '$117,235,147', '$28,262,574',
       '$38,251,425', '$102,000,000', '$20,714,400', '$25,933,445',
       '$32,653,905', '$48,979,328', '$81,640,278', '$35,000,000',
       '$24,000,000', '$37,823,676', '$96,042,913', '$16,424,918',
       '$106,260,000', '$22,228,000', '$67,182,787', '$26,010,864',
       '$54,766,923', '$23,383,987', '$58,972,904', '$119,285,432',
       '$40,382,659', '$52,767,889', '$14,000,000', '$177,200,000',
       '$53,977,250', '$56,399,659', '$5,310,748', '$21,192,102',
       '$8,443,124', '$108,423,489', '$51,973,029', '$34,700,291',
       '$27,187,653', '$34,901,614', '$21,821,347', '$98,467,863',
       '$17,005,229', '$87,071,205', '$26,657,534', '$68,706,993',
       '$31,853,080', '$40,084,041', '$17,218,023', '$138,530,565',
       '$51,249,404', '$156,645,693', '$10,021,120', '$43,984,230',
       '$80,640,528', '$32,632,093', '$34,670,720', '$34,603,943',
       '$172,825,435', '$63,779,477', '$70,001,698', '$95,860,116',
       '$106,593,296', '$64,431,625', '$14,743,391', '$52,096,475',
       '$217,631,306', '$218,967,620', '$49,114,016', '$70,405,498',
       '$74,787,599', '$130,742,922', '$62,548,947', '$141,340,178',
       '$26,126,837', '$63,095,253', '$101,167,799', '$183,875,760',
       '$25,096,862', '$40,157,856', '$23,237,911', '$96,898,818',
       '$330,455,270', '$52,700,832', '$107,928,762', '$24,822,619',
       '$28,767,189', '$173,837,933', '$63,658,910', '$75,609,945',
       '$43,182,776', '$78,676,425', '$24,611,975', '$153,952,592',
       '$35,892,330', '$148,478,011', '$45,950,122', '$138,433,435',
       '$64,616,940', '$674,292,608', '$30,082,699', '$217,049,603',
       '$100,317,794', '$36,400,491', '$130,096,601', '$57,545,092',
       '$136,801,374', '$29,089,912', '$293,506,292', '$71,509,363',
       '$128,530,421', '$125,595,205', '$187,705,427', '$124,115,725',
       '$170,742,341', '$41,308,615', '$35,930,604', '$316,115,420',
       '$170,687,518', '$77,812,000', '$41,675,994', '$342,952,511',
       '$32,572,577', '$379,427,292', '$44,585,453', '$93,927,920',
       '$90,135,191', '$120,277,854', '$102,610,330', '$51,680,613',
       '$100,492,203', '$75,331,600', '$71,503,593', '$83,043,761',
       '$28,750,530', '$31,558,003', '$47,403,685', '$34,302,837',
       '$132,399,394', '$13,756,082', '$59,891,098', '$56,441,711',
       '$50,927,067', '$143,495,265', '$49,033,882', '$74,283,625',
       '$40,222,514', '$127,509,326', '$18,622,031', '$31,841,299',
       '$34,194,407', '$141,319,928', '$785,221,649', '$255,982,860',
       '$115,646,235', '$12,574,914', '$120,540,719', '$9,228,768',
       '$293,004,164', '$83,823,381', '$106,954,678', '$93,617,009',
       '$292,587,330', '$20,811,365', '$138,797,449', '$18,335,230',
       '$96,962,694', '$415,004,880', '$171,243,005', '$6,531,503',
       '$44,671,682', '$82,584,160', '$31,847,881', '$169,708,112',
       '$73,864,507', '$56,817,045', '$75,605,492', '$13,303,319',
       '$79,884,879', '$6,739,492', '$136,025,503', '$12,795,746',
       '$162,805,434', '$148,809,770', '$124,987,023', '$182,207,973',
       '$132,092,958', '$95,720,716', '$150,117,807', '$107,100,855',
       '$27,298,285', '$274,092,705', '$25,568,251', '$17,654,912',
       '$37,709,979', '$56,671,993', '$116,900,694', '$350,159,020',
       '$42,340,598', '$25,352,281', '$59,301,324', '$91,125,683',
       '$52,076,908', '$35,893,537', '$13,092,000', '$70,259,870',
       '$72,313,754', '$38,322,743', '$154,280,290', '$228,433,663',
       '$183,637,894', '$14,677,654', '$45,055,776', '$100,546,139',
       '$57,682,904', '$67,209,615', '$27,007,844', '$169,607,287',
       '$151,101,803', '$51,738,905', '$47,695,371', '$27,854,932',
       '$18,095,701', '$56,468,410', '$189,740,665', '$176,196,665',
       '$48,958,273', '$21,198,205', '$81,903,458', '$63,859,435',
       '$700,426,566', '$49,275,340', '$216,668,042', '$34,366,783',
       '$85,080,171', '$215,333,122', '$47,836,282', '$117,624,357',
       '$33,370,906', '$335,477,657', '$108,101,214', '$159,227,644',
       '$53,369,749', '$2,122,771', '$3,110,580', '$3,700,000',
       '$6,460,965', '$9,250,870', '$2,352,240', '$108,327,830',
       '$15,129,285', '$17,318,007', '$11,338,107', '$38,530,322',
       '$684,075,767', '$10,582,266', '$151,040,048', '$77,191,785',
       '$17,348,945', '$6,773,650', '$718,732,821', '$4,608,096',
       '$5,456,531'], dtype=object)

In [19]:
# Remove "," and "$" from BoxOffice column so that we can change it to an integer
final_df["BoxOffice"] = final_df["BoxOffice"].str.replace(",","")
final_df["BoxOffice"] = final_df["BoxOffice"].str.replace("$","")
final_df["BoxOffice"]

C:\Users\jkaum\AppData\Local\Temp\ipykernel_14888\4180777498.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  final_df["BoxOffice"] = final_df["BoxOffice"].str.replace("$","")

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
522     17348945
523      6773650
524    718732821
525      4608096
526      5456531
Name: BoxOffice, Length: 527, dtype: object

In [20]:
final_df_copy = final_df.copy()

In [21]:
final_df_copy["BoxOffice"] = final_df_copy["BoxOffice"].replace(np.nan, 0)
final_df_copy["imdbVotes"] = final_df_copy["imdbVotes"].replace(np.nan, 0)
final_df_copy["Runtime"] = final_df_copy["Runtime"].replace(np.nan, 0)
final_df_copy["year_film"] = final_df_copy["year_film"].replace(np.nan, 0)
final_df_copy["year_ceremony"] = final_df_copy["year_ceremony"].replace(np.nan, 0)
final_df_copy["Metascore"] = final_df_copy["Metascore"].replace(np.nan, 0)
final_df_copy["imdbRating"] = final_df_copy["imdbRating"].replace(np.nan, 0)

In [22]:
final_df_copy.dtypes

year_film          int64
year_ceremony      int64
category          object
name              object
film              object
winner              bool
Rated             object
Released          object
Runtime           object
Genre             object
Director          object
Writer            object
Actors            object
Language          object
Country           object
Awards            object
Metascore        float64
imdbRating       float64
imdbVotes         object
BoxOffice         object
Production        object
dtype: object

In [23]:
# Runtime to int64
# imdbVotes to int64
# BoxOffice to int64
final_df_copy = final_df_copy.astype({"Runtime":"int64", "imdbVotes":"int64","BoxOffice":"int64"})

In [24]:
final_df_copy.dtypes

year_film          int64
year_ceremony      int64
category          object
name              object
film              object
winner              bool
Rated             object
Released          object
Runtime            int64
Genre             object
Director          object
Writer            object
Actors            object
Language          object
Country           object
Awards            object
Metascore        float64
imdbRating       float64
imdbVotes          int64
BoxOffice          int64
Production        object
dtype: object

In [25]:
final_df["Genre"].unique()

array(['Biography, Drama, History', 'Comedy, Musical, Romance', 'Drama',
       'Drama, Romance', 'Drama, Family, Sport', 'Crime, Drama, Music',
       'Drama, Romance, War', 'Crime, Drama, Film-Noir',
       'Biography, Drama, Romance', 'Musical', 'Comedy, Drama, Romance',
       'Comedy, Romance', 'Comedy, Music, Romance',
       'Comedy, Crime, Mystery', 'Western', 'Comedy, Music, Musical',
       'Action, Adventure, History', 'Adventure, Drama, Family',
       'Crime, Drama', 'Adventure, Drama, War',
       'Comedy, Fantasy, Romance', 'Adventure, Biography, Drama',
       'Drama, Musical, Romance', 'Comedy, Mystery, Romance',
       'Adventure, Drama, Romance', 'Drama, Musical',
       'Drama, Music, Romance', 'Biography, Drama',
       'Adventure, Drama, Fantasy', 'Comedy, Drama, Music',
       'Action, Adventure, Romance', 'Drama, Music, Musical',
       'Biography, Drama, Family', 'Comedy, Drama', 'Adventure, Drama',
       'Adventure, Drama, Western', 'Adventure, Family, Fantasy',
       'Action, Romance, Thriller', 'Comedy, Drama, War', 'Drama, War',
       'Drama, Family, Romance', 'Drama, Film-Noir, Mystery',
       'Drama, Mystery', 'Drama, Family', 'Crime, Film-Noir, Mystery',
       'Film-Noir, Mystery, Thriller', 'Drama, Music, War',
       'Action, Drama, War', 'Adventure, Drama, History',
       'Comedy, Drama, Fantasy', 'Comedy, Drama, Family',
       'Biography, Drama, Music', 'Comedy', 'Drama, Western',
       'Biography, Drama, Mystery', 'Drama, Thriller',
       'Crime, Drama, Mystery', 'Comedy, Fantasy, Musical',
       'Drama, Film-Noir', 'Film-Noir, Mystery, Romance',
       'Drama, Family, Fantasy', 'Drama, Family, Western',
       'Action, Drama, History', 'Drama, Thriller, Western',
       'Drama, History', 'Drama, History, Romance', 'Drama, Music',
       'Crime, Drama, Thriller', 'Musical, Romance, Western',
       'Adventure, Comedy, Family', 'Biography, Drama, Musical',
       'Action, Adventure, Drama', 'Drama, Sport',
       'Crime, Drama, Musical', 'Adventure, Comedy, History',
       'Comedy, War', 'Comedy, Family, Fantasy', 'Drama, Family, Musical',
       'Action, Biography, Crime', 'Drama, Mystery, Thriller',
       'Biography, Comedy, Drama', 'Biography, Crime, Drama',
       'Adventure, Comedy, Musical', 'Action, Drama, Thriller',
       'Biography, Drama, War', 'Crime, Sci-Fi', 'Action, Crime, Drama',
       'Adventure, Drama, Thriller', 'Horror', 'Comedy, Crime, Drama',
       'Adventure, Mystery, Thriller', 'Drama, History, Thriller',
       'Drama, Mystery, War', 'Comedy, Drama, Sport',
       'Biography, Drama, Sport', 'Drama, Romance, Thriller',
       'Drama, Fantasy, Romance', 'Animation, Family, Fantasy',
       'Crime, Drama, Romance', 'Crime, Thriller',
       'Comedy, Drama, History', 'Drama, History, War',
       'Crime, Drama, Fantasy', 'Biography, Drama, Thriller',
       'Comedy, Drama, Mystery', 'Comedy, Crime, Musical',
       'Drama, History, Sport', 'Short, Drama, Music',
       'Drama, Mystery, Romance', 'Action, Adventure, Fantasy',
       'Action, Sci-Fi, Thriller', 'Animation, Adventure, Comedy',
       'Action, Biography, Drama', 'Action, Adventure, Sci-Fi',
       'Adventure, Drama, Mystery', 'Drama, Fantasy',
       'Drama, Sci-Fi, Thriller', 'Drama, Romance, Sci-Fi',
       'Biography, Comedy, Crime', 'Adventure, Comedy, Crime',
       'Adventure, Drama, Sci-Fi', 'Drama, Mystery, Sci-Fi',
       'Horror, Mystery, Thriller', 'Comedy, Drama, Sci-Fi',
       'Action, Adventure, Comedy', 'Action, Drama'], dtype=object)

In [26]:
final_df_copy[["Genre1","Genre2","Genre3"]] = final_df_copy["Genre"].str.split(', ', expand=True)

In [27]:
final_df_copy.head()

,year_film,year_ceremony,category,name,film,winner,Rated,Released,Runtime,Genre,...,Country,Awards,Metascore,imdbRating,imdbVotes,BoxOffice,Production,Genre1,Genre2,Genre3
0,1929,1930,OUTSTANDING PRODUCTION,Warner Bros.,Disraeli,False,Passed,01 Nov 1929,90,"Biography, Drama, History",...,United States,Won 1 Oscar. 4 wins & 2 nominations total,0.0,6.1,1338,0,A & E,Biography,Drama,History
1,1929,1930,OUTSTANDING PRODUCTION,Paramount Famous Lasky,The Love Parade,False,Passed,18 Jan 1930,107,"Comedy, Musical, Romance",...,United States,Nominated for 6 Oscars. 1 win & 6 nominations ...,0.0,7.0,2500,0,NaN,Comedy,Musical,Romance
2,1931,1932,OUTSTANDING PRODUCTION,Samuel Goldwyn Productions,Arrowsmith,False,Approved,26 Dec 1931,108,Drama,...,United States,Nominated for 4 Oscars. 4 nominations total,0.0,6.2,1862,0,NaN,Drama,None,None
3,1931,1932,OUTSTANDING PRODUCTION,Fox,Bad Girl,False,Passed,13 Sep 1931,90,"Drama, Romance",...,United States,Won 2 Oscars. 2 wins & 1 nomination total,0.0,6.5,1504,0,NaN,Drama,Romance,None
4,1931,1932,OUTSTANDING PRODUCTION,Metro-Goldwyn-Mayer,The Champ,False,Passed,21 Nov 1931,86,"Drama, Family, Sport",...,United States,Won 2 Oscars. 2 wins & 3 nominations total,0.0,7.3,3416,0,NaN,Drama,Family,Sport

In [28]:
final_df_copy.columns

Index(['year_film', 'year_ceremony', 'category', 'name', 'film', 'winner',
       'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors',
       'Language', 'Country', 'Awards', 'Metascore', 'imdbRating', 'imdbVotes',
       'BoxOffice', 'Production', 'Genre1', 'Genre2', 'Genre3'],
      dtype='object')

In [29]:
final_df_copy[["Genre1", "Genre2", "Genre3"]]

        Genre1   Genre2   Genre3
0    Biography    Drama  History
1       Comedy  Musical  Romance
2        Drama     None     None
3        Drama  Romance     None
4        Drama   Family    Sport
..         ...      ...      ...
522      Drama     None     None
523      Drama    Music     None
524     Action    Drama     None
525     Comedy    Drama     None
526      Drama     None     None

[527 rows x 3 columns]

In [30]:
final_df_copy = final_df_copy.drop(["Genre"], axis=1)
final_df_copy.columns

Index(['year_film', 'year_ceremony', 'category', 'name', 'film', 'winner',
       'Rated', 'Released', 'Runtime', 'Director', 'Writer', 'Actors',
       'Language', 'Country', 'Awards', 'Metascore', 'imdbRating', 'imdbVotes',
       'BoxOffice', 'Production', 'Genre1', 'Genre2', 'Genre3'],
      dtype='object')

In [31]:
final_df_copy.dtypes

year_film          int64
year_ceremony      int64
category          object
name              object
film              object
winner              bool
Rated             object
Released          object
Runtime            int64
Director          object
Writer            object
Actors            object
Language          object
Country           object
Awards            object
Metascore        float64
imdbRating       float64
imdbVotes          int64
BoxOffice          int64
Production        object
Genre1            object
Genre2            object
Genre3            object
dtype: object

In [37]:
final_df_copy.to_csv("Resources/final_df.csv", index=False)

In [32]:
final_df["Language"].unique()

array(['English', 'English, French', 'English, Italian, Swedish',
       'English, Italian, Latin, French', 'French, English',
       'English, French, Italian', 'English, Italian',
       'English, French, Spanish', 'English, Polynesian',
       'English, French, German, Italian', 'English, French, Russian',
       'English, Portuguese', 'English, Mandarin', 'English, Hebrew',
       'English, Russian', 'English, Latin, German',
       'English, Russian, French', 'English, Spanish, French',
       'English, Dutch, German, Latvian', 'English, Esperanto, Latin',
       'English, Spanish', 'English, Spanish, Latin, French, German',
       'English, Welsh', 'English, French, German', 'English, German',
       'English, Japanese', 'English, Yiddish', 'English, Latin, Swedish',
       'English, Dutch', 'English, American Sign ',
       'English, German, Russian', 'English, Irish Gaelic',
       'English, Italian, German', 'English, Latin',
       'English, German, Italian', 'English, Thai',
       'English, Japanese, Thai', 'English, French, Russian, Hindi',
       'English, Greek, German, Latin', 'English, Arabic, Turkish',
       'English, German, French', 'English, Polynesian, French, Dutch',
       'English, German, Spanish', 'English, Latin, Welsh',
       'English, Greek', 'English, Latin, Spanish, French',
       'English, Latin, Spanish', 'English, French, Latin',
       'French, Russian, English', 'Latin, English, Japanese, Korean',
       'English, German, French, Russian, Arabic, Italian',
       'English, Hebrew, Russian', 'English, French, German, Russian',
       'English, German, Hebrew, French', 'English, Italian, Latin',
       'English, Latin, Greek, French, German, Arabic, Kurdish',
       'English, Cantonese, Spanish',
       'English, Italian, Spanish, Latin, Sicilian',
       'English, Vietnamese, French, Russian, Cantonese',
       'English, Maltese, French, Turkish', 'English, French, Vietnamese',
       'English, Italian, French',
       'English, Russian, German, French, Finnish, Italian',
       'English, Hindi', 'English, Russian, Spanish',
       'English, Italian, Latin, German, French',
       'English, French, Central Khmer, Russian',
       'English, French, Portuguese, German', 'English, Swahili, Arabic',
       'English, Guarani, Spanish, Latin', 'English, Vietnamese',
       'English, Spanish, French, German', 'English, Mandarin, Japanese',
       'English, Polish, Spanish', 'English, British Sign , Maori',
       'English, Hebrew, German, Polish, Latin', 'English, British Sign ',
       'English, French, Latin, Gaelic, Italian',
       'English, German, Italian, Arabic',
       'English, Swedish, Italian, French',
       'English, French, German, Czech',
       'English, Tok Pisin, Japanese, Greek',
       'English, Japanese, Arabic, Persian', 'Mandarin, Chinese',
       'English, Serbo-Croatian', 'English, Sindarin',
       'English, Hungarian', 'English, Irish Gaelic, Chinese, Latin',
       'English, Sindarin, Old English',
       'English, Quenya, Old English, Sindarin',
       'English, Japanese, German, French', 'English, French, Portuguese',
       'English, Persian', 'English, Armenian, French',
       'English, German, French, Hebrew, Arabic, Italian, Greek, Russian, Dutch',
       'English, Arabic, Spanish, Japanese, Berber languages, French, Russian, Japanese Sign ',
       'English, Cantonese', 'Japanese, English',
       'English, German, Greek, Latin', 'English, Hindi, French, German',
       'English, Nyanja, Afrikaans, Zulu, Xhosa, Sotho',
       'English, German, French, Italian', 'English, Yiddish, Hebrew',
       'English, Japanese, French', 'English, French, Spanish, German',
       'English, Persian, German, Arabic',
       'English, Hindi, Japanese, French',
       'English, Arabic, Urdu, Pashtu, French', 'English, Arabic',
       'English, Somali', 'English, Greenlandic',
       'English, Spanish, Ukrainian, Arabic',
       'English, French, Ukrainian', 'English, Latin, Irish Gaelic',
       'English, Pawnee, French', 'Russian, Mandarin, English',
       'English, Hindi, Bengali',
       'English, Italian, French, German, Hebrew', 'English, Swahili',
       'English, American Sign , Russian, French',
       'English, Swahili, Nama, Xhosa, Korean',
       'English, Italian, Russian, German',
       'Spanish, Mixtec, English, Japanese, German, French, Norwegian',
       'English, Italian, French, Japanese',
       'English, Italian, Latin, Spanish, German', 'Korean, English',
       'English, German, Latin', 'English, Latin, French',
       'American Sign , English',
       'Japanese, English, Korean Sign , German, Mandarin, Tagalog, Korean, Indonesian',
       'English, Japanese, Spanish', 'German, French',
       'English, Mandarin, Cantonese',
       'English, German, Filipino, French',
       'English, Swedish, German, French, Greek, Tagalog, Akan'],
      dtype=object)

In [33]:
final_df["Country"].unique()

array(['United States', 'United Kingdom', 'United Kingdom, United States',
       'United States, Ireland',
       'United Kingdom, United States, Australia',
       'United States, Switzerland, United Kingdom',
       'Greece, United States', 'Italy, United Kingdom, United States',
       'United Kingdom, Italy', 'United States, Mexico',
       'France, Algeria', 'United States, United Kingdom',
       'United Kingdom, India, United States, South Africa',
       'United States, France', 'Brazil, United States',
       'United Kingdom, France', 'China, Italy, United Kingdom, France',
       'Ireland, United Kingdom', 'United States, Japan',
       'United Kingdom, Japan', 'United Kingdom, Japan, United States',
       'Australia, France, New Zealand',
       'United States, United Kingdom, Canada, Japan',
       'Australia, United States, United Kingdom',
       'United States, United Kingdom, Italy', 'Australia',
       'United Kingdom, Italy, United States',
       'Taiwan, Hong Kong, United States, China',
       'United States, United Kingdom, Malta, Morocco',
       'United States, Germany', 'New Zealand, United States',
       'United States, Germany, Canada, United Kingdom',
       'Italy, United States',
       'United States, United Kingdom, France, Canada, Germany',
       'France, Poland, Germany, United Kingdom, United States',
       'United States, Australia', 'United States, Hungary',
       'United States, Canada',
       'United States, France, United Kingdom, Japan',
       'United States, Canada, France', 'United States, Mexico, France',
       'United States, Hong Kong',
       'United Kingdom, United States, France, Italy',
       'United Kingdom, France, United States', 'Germany, United States',
       'United Kingdom, United States, France',
       'South Africa, United States, New Zealand, Canada',
       'United States, United Kingdom, France',
       'France, Belgium, United States', 'United States, India',
       'Spain, United States, France', 'Austria, France, Germany',
       'United States, Taiwan, United Kingdom, Canada, India, France',
       'United States, China', 'Germany, India, United States',
       'United Kingdom, Canada, Ireland',
       'United States, United Kingdom, Hungary, Jordan',
       'Hong Kong, Taiwan, United States',
       'Ireland, Canada, United Kingdom, United States',
       'Australia, United States, United Kingdom, China',
       'Australia, United Kingdom, United States, India',
       'Italy, France, United States, Brazil',
       'United Kingdom, United States, China',
       'United Kingdom, Netherlands, France, United States',
       'United States, United Kingdom, China',
       'United States, United Kingdom, India',
       'Ireland, United Kingdom, United States', 'Mexico, United States',
       'New Zealand, United States, Czech Republic',
       'United Kingdom, United States, India, Spain', 'South Korea',
       'France, Canada, United States', 'Japan',
       'United States, Mexico, Canada',
       'New Zealand, United Kingdom, Canada, Australia',
       'Germany, United States, United Kingdom',
       'United Kingdom, United States, Ireland',
       'United States, Sweden, United Kingdom, Germany, France, Turkey, Denmark, Greece, Switzerland, Mexico'],
      dtype=object)

In [34]:
final_df["Production"].unique()

array(['A & E', nan, 'Metro Goldwyn Mayer',
       'Dino de Laurentiis Cinematografica',
       'Universal Pictures, QC Entertainment, Blumhouse Productions'],
      dtype=object)

In [35]:
final_df["Metascore"].unique()

array([ nan,  80.,  72.,  87.,  86.,  89.,  91.,  65.,  93.,  69.,  81.,
        77.,  97.,  73.,  92.,  96., 100.,  79.,  88.,  83.,  62.,  68.,
        95.,  78.,  90.,  60.,  82.,  76.,  94.,  75.,  85.,  63.,  84.,
        59.,  48.,  61.,  70.,  34.,  74.,  66.,  51.,  42.,  67.,  57.,
        64.,  58.,  55.,  53.,  52.,  46.,  71.,  99.,  49.])

In [36]:
final_df["imdbRating"].unique()

array([6.1, 7. , 6.2, 6.5, 7.3, 7.2, 6.4, 8.2, 6.9, 6.8, 5.6, 7.4, 7.5,
       8.1, 7.9, 7.7, 7.6, 6.3, 7.8, 6.6, 6.7, 7.1, 8.4, 8.3, 8. , 8.6,
       nan, 9. , 9.2, 8.8, 8.9, 9.3, 8.5])